.container
  .row
    .col-sm-12
  .row
    .col-sm-12
      .text-center.lead
        - if @lyric
          %h1= @lyric.lines.first.text.split(' ').sample.titleize
          %br
          .verse
            - @lyric.lines.each do |line|
              %p= line.text

          %br
          = link_to 'Try again', root_path
        - else
          %p Please add sources to see sample verses.

