.container
  .row
    .col-sm-12
      .text-center
        %h2 Sample Verse
        %br
        - if @lyric
          - @lyric.lines.each do |line|
            %p= line.text
        - else
          %p Please add sources to see sample verses.

