.container(ng-controller="RhythmsCtrl as ctrl")
  .row
    .col-sm-12
      .rhythm-wrapper.text-center
        %h2 Rhythms
        %button.btn.btn-primary#create-rhythm(ng-click="ctrl.createRhythm()") Create new rhythm
        .rhythms(ng-repeat="rhythm in ctrl.rhythms")
          %p.rhythm.lead(ng-click="ctrl.toggleSelected(rhythm)" ng-class="{mark: ctrl.isSelected(rhythm)}") {{ rhythm }}

        %a.btn.btn-primary(ng-href="/#/song?rhythms={{ctrl.selectedRhythms}}" ng-disabled="ctrl.selectedRhythms.length < 1") Create song
