.container(ng-controller="RhythmsCtrl as ctrl")
  .row
    .col-sm-12
      .rhythm-wrapper.text-center
        %h2.text-center Rhythms
        %button.btn.btn-primary#create-rhythm(ng-click="ctrl.createRhythm()") Create new rhythm
        .rhythms(ng-repeat="rhythm in ctrl.rhythms")
          .row
            .col-sm-2.col-sm-offset-4
              %p.rhythm.lead(ng-click="ctrl.toggleSelected(rhythm)" ng-class="{mark: ctrl.isSelected(rhythm)}") {{ rhythm }}
            .col-sm-2
              %button.btn.btn-default(ng-click="ctrl.startMidiPlayback(rhythm)") Play
