.container
  .song-form(ng-controller="NewSongCtrl as ctrl")
    .row
      .col-sm-12
        %h2 New Song
    .row
      .col-sm-12
        %button.btn.btn-default(ng-click="ctrl.createRhythms()") Change Rhythms
        = simple_form_for(Song.new) do |form|
          = form.input :rhythm1, input_html: {'ng-model' => 'ctrl.rhythm1'}
          = form.input :rhythm2, input_html: {'ng-model' => 'ctrl.rhythm2'}
          = form.button :submit, "Save Song"
