.song(ng-controller="SongCtrl as ctrl")
  .container
    .row
      .col-sm-12
        %h2 Viewing song
    .row
      .col-sm-12
        %button.btn.btn-primary.playback-button(ng-click="ctrl.startPlayback('#{song_url(@song, format: :mid)}')") Play
    .row
      .col-sm-12
        = link_to "Download as MIDI", song_path(@song, format: :mid)
    .row
      .col-sm-12
        %p.lyrics
          - @song.lyrics.split(' ').each_with_index do |word, index|
            %span(ng-class="{mark: #{index} == wordIndex}")= word
          -# - @song.sections.each_with_index do |index, section|
            -# %p= section.lyrics
