.container(ng-controller="SongCtrl as ctrl")
  .row
    .col-sm-12
      %form(ng-submit="ctrl.createArrangement(8)")
        %label
          Rhythm 1
          %input(type="string" ng-model="ctrl.rhythm1")
        %label
          Rhythm 2
          %input(type="string" ng-model="ctrl.rhythm2")
        %input.btn.btn-primary(type="submit" value="Create Arrangement")
      %button.btn.btn-default(ng-click="ctrl.playNote()") Sound

  .row
    .col-sm-12
      .arrangement(ng-show="ctrl.arrangement")
        %h2 Arrangement
        %p
          %span(ng-repeat="measure in ctrl.arrangement track by $index")
            = "{{ measure }} | "
